[submodule "MPU-9250 Sensors Data Collect"]
	path = MPU-9250 Sensors Data Collect
url=MPU-9250 Sensors Data Collect
[submodule "MPU-9250 and GPS Raw Data Pre-Processing"]
	path = MPU-9250 and GPS Raw Data Pre-Processing
url=/MPU-9250 and GPS Raw Data Pre-Processing
[submodule "MPU-9250 Data Plot Video Creator"]
	path = MPU-9250 Data Plot Video Creator
url=MPU-9250 Data Plot Video Creator
[submodule "Road Surface Type Classification Based on Inertial Sensors and Machine Learning"]
	path = Road Surface Type Classification Based on Inertial Sensors and Machine Learning
url=Road Surface Type Classification Based on Inertial Sensors and Machine Learning